torch>=2.0.0
torchvision
torchaudio
transformers>=4.25.0
tokenizers
safetensors>=0.4.2
aiohttp>=3.8.0
accelerate
pyyaml
Pillow
scipy
tqdm
psutil
websocket-client
diffusers
av
comfyui-frontend-package
comfyui-workflow-templates
dill
webcolors
pydantic
pydantic-settings
cmake
imageio
joblib
matplotlib
scikit-learn
rembg
numba
pandas
numexpr
insightface
onnx
segment-anything
piexif
ultralytics
timm
importlib_metadata
opencv-python-headless
filelock
numpy>=1.25.0
scikit-image
python-dateutil
mediapipe
fvcore
yapf
omegaconf
ftfy
addict
yacs
trimesh
librosa
color-matcher
facexlib
open-clip-torch
pytorch-lightning
huggingface_hub
iopath
alembic
SQLAlchemy
yarl
gguf
